<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<%- include ('../partials/header.ejs', {pageTitle:'Dry Farm Ranch'});  %>
<%- include ('../partials/scrollPosition.ejs'); %>

<%- include ('partials/styles.ejs'); %>
<style type="text/css">
.grecaptcha-badge  { visibility: visible; }
</style>

</head>

<body>
<%- include ('partials/soon'); %>
</body>

<%- include ('./partials/reCaptcha.ejs'); %>

</html>
