
<!-- Employee card -->
<div class="d-flex flex-column profileEditCard col-12 col-md-5 col-lg-3 
    m-0 p-0 mx-1 my-2 my-lg-4 p-3
   <%if (emp.firstname==='FAKE'){%>invisible <%}%>" >

<div class="row d-flex justify-content-center flex-grow-0 p-0 m-0 mt-2">
    <div class="col-8 d-flex justify-content-center m-0 p-0 p-2">
	<%- include ('./avatar.ejs', {emp}); %>
    </div>
</div>

<div class="row d-flex justify-content-center flex-grow-1 flex-column p-0 m-0 mt-2">
    <div class="col-12 d-flex justify-content-center m-0 p-0">
	<span class="name"><%=locals.emp.firstname%> <%=locals.emp.lastname%></span>
    </div>
</div>
<div class="row d-flex justify-content-center flex-grow-1 flex-column p-0 m-0 mt-2">
    <div class="col-12 d-flex justify-content-center p-0 m-0">
	<%=locals.emp.title%>
    </div>
</div>

<div class="row d-flex justify-content-center flex-grow-0 p-0 m-0 mt-2">
    <div class="col-12 d-flex justify-content-center p-0 m-0">
	<a href="/users/profile/<%= locals.emp._id %>">
	    <button class="m-0 btn btn-outline-secondary">More Info</button>
	</a>
    </div>
</div>

</div>
