<!DOCTYPE html>
<html>
<head>
<%- include ('./partials/header.ejs', {pageTitle:'404'}); %>
<%- include ('./partials/scrollPosition.ejs'); %>
</head>

<body>
<%- include ('./partials/navbar.ejs') %>
<%- include ('./partials/containerTop.ejs'); %>

<h2 class="p-0 mt-5 text-center">Page not found!</h2>

<%- include ('./partials/contactUs.ejs'); %>
<%- include ('./partials/containerBottom.ejs'); %>
<%- include ('./partials/footer.ejs'); %>
<%- include ('./partials/singlePageHeight.ejs'); %>
<%- include ('./partials/navbarShrink.ejs'); %>
</body>
</html>
