<!DOCTYPE html>
<html>
<head>
<%- include ('../partials/header.ejs', {pageTitle:'Test Logo'}); %>
<%- include ('../partials/scrollPosition.ejs'); %>
<style type="text/css">
</style>
</head>
<body>
<%- include ('../partials/navbar.ejs') %>
<%- include ('../partials/JPPTitle.ejs'); %>

<hr class="my-5" />
<%- include ('../partials/navbar-noBrand.ejs') %>

<hr class="my-5" />
<%- include ('../partials/footer.ejs'); %>
<%- include ('../partials/singlePageHeight.ejs'); %>
<%- include ('../partials/navbarShrink.ejs'); %>
</body>
</html>
