<!DOCTYPE html>
<html>
<head>
<%- include ('../partials/header.ejs', {pageTitle:'Contact Us'}); %>
<script type="text/javascript" src="/libs/validator.min.js"></script>

<style type="text/css">
.grecaptcha-badge  { visibility: visible; }
</style>
</head>

<body>
<%- include ('../partials/navbar.ejs') %>
<%- include ('../partials/containerTop.ejs'); %>

<div class="row d-flex align-items-center m-0 p-0 mt-3 px-2">
    <h4 class="m-0 p-0">Contact Us</h4>
</div>

<div class="row p-0 m-0 d-flex justify-content-center contentRow bgLightGrey">
    <%- include ('../about/partials/request.ejs'); %>
</div>

<div class="profileEditCard m-0 p-0 m-2">
<div class="row justify-content-center m-0 p-0">

<form id="contactForm" class="mt-4" action="/contact" method="POST">
<div class="row m-0 p-0 mt-2">
    <label class="col-12 col-md-3 m-0 mt-2 px-0 px-md-2 col-form-label text-start text-md-end" for="first">*Name</label>
        <div class="col-12 col-md-8 m-0 p-0 mt-md-2">
            <input class="form-control" type="text"
                name="customerName" required autofocus placeholder="Customer Name" >
        </div>
    <label class="col-12 col-md-3 m-0 mt-2 px-0 px-md-2 col-form-label text-start text-md-end" for="email">*E-mail</label>
        <div class="col-12 col-md-8 m-0 p-0 mt-md-2">
            <input class="form-control" type="email"
                name="email" required placeholder="email">
        </div>
    <label class="col-12 col-md-3 m-0 mt-2 px-0 px-md-2 col-form-label text-start text-md-end" for="phone">*Phone #</label>
        <div class="col-12 col-md-8 m-0 p-0 mt-md-2">
            <input class="form-control m-0" type="tel" minlength=10 name="phone" required
                placeholder="(###) ###-####">
        </div>
    <label class="col-12 col-md-3 m-0 mt-2 px-0 px-md-2 col-form-label text-start text-md-end" for="details">Service</label>
        <div class="col-12 col-md-8 m-0 p-0 mt-2">
	<select class="form-select" name="service">
	    <option value=null>Select...</option>
	    <% service.forEach((c, i) => { %>
		<option value="<%=i %>"><%=c%></option>
	    <% }); %>
	</select>
	</div>
    <label class="col-12 col-md-3 m-0 mt-2 px-0 px-md-2 col-form-label text-start text-md-end" for="details">*Comments</label>
        <div class="col-12 col-md-8 m-0 p-0 mt-2">
        <textarea class="form-control" name="details" required
            placeholder="How can we help?" rows="10"></textarea>
	</div>
</div>
</form>

<div class="d-flex justify-content-between align-items-center">
    <div class="col">
        <%- include ('../partials/goBackButton.ejs'); %>
    </div><div class="col d-flex justify-content-end">
        <button form="contactForm" type="reset" 
	    class="btn btn-outline-secondary me-2">Clear</button>
        <button form="contactForm" type="submit" 
	    class="btn btn-outline-success ms-2">Send</button>
    </div>
</div>

</div>
</div>

<%- include ('../partials/containerBottom.ejs'); %>
<%- include ('../partials/footer.ejs'); %>
<%- include ('../partials/singlePageHeight.ejs'); %>
<%- include ('../partials/navbarShrink.ejs'); %>
</body>

<script type="text/javascript">
const validateFormData = async(data) => 
{
    let valid = true;
    let message = '';
    if (!data.first || !data.last) {
	valid = false;
	message = `${message}\nPlease provide your first and last name`;
    }
    if (!validator.isEmail(data.email)) {
	valid = false;
	message = `${message}\nPlease enter a valid email address`;
    }
    if (!validator.isMobilePhone(data.phone, ['en-US'])) {
	valid = false;
	message = `${message}\nPlease enter a valid phone number`;
    }
    if (!data.details) {
	valid = false;
	message = `${message}\nPlease provide some details`;
    }
    return {valid, message};
}

$(document).ready(function() {

    document.querySelector("#contactForm").addEventListener ("submit", async (e) => {
    try {
	e.preventDefault();
	const form = document.querySelector('#contactForm');
	const formData = Object.fromEntries(new FormData(form));

/*
	const result = await _validateFormData(formData);
	if (!result.valid) {
	    console.log(result.message);
	    window.location.reload();
	    return;
	}
*/

	const key = await fetch ('/reCaptchaKey', {
	    method: "POST",
	    body: JSON.stringify({}),
	    headers: { "Content-Type": "application/json"},
	    json: true
	});
	const siteKey = (await key.json()).siteKey;
	grecaptcha.ready(async () => {
	    grecaptcha.execute(`${siteKey}`, {action: 'submit'}).then(async (token) => {
		try {
		    const json = JSON.stringify({...formData, token});
		    const response = await fetch (form.action, {
			method: "POST",
			body : json,
			headers: { "Content-Type": "application/json" }
		    });
		    const data = await response.json();
		    window.location.assign (data.redirect);
		} catch (e) {
		    window.location.assign ('/');
		    return (e);
		}
	    }).catch((error) => {
		console.log('Error!', error);
		window.location.assign ('/');
	    });
	});
    } catch (e) {
	console.log(e);
    }
    });
});

</script>
</html>
