<!DOCTYPE html>
<html>
<head>
<%- include ('../partials/header.ejs', {pageTitle: 'Dry Farm Ranch'}); %>

</head>
<body>
<% if (process.env.NODE_ENV === 'development'){ %>
<%- include ('../partials/navbar.ejs'); %>
<% } %>
<%- include ('../partials/containerTop.ejs'); %>

<section class="">
<div class="row m-0 p-0 d-flex justify-content-center">
    <div class="col-11 col-lg-10 text-center px-0">
        <div id="tagLine" class=""><h2><span style="font-size: larger;">🤖</span><br />Are you a bot?</h2></div>
    </div>
</div>
<div class="row m-0 p-0 d-flex justify-content-center py-2 py-lg-5">
    <div class="col-11 col-lg-10 px-0">
        <div class="title text-center">
	<h4>If not, please call us!</h4>
    </div>
</div>
</section>

<div class="row d-flex justify-content-center">
<%- include ('../partials/goHomeButton.ejs'); %>
</div>
<%- include ('../partials/containerBottom.ejs'); %>
<% if (process.env.NODE_ENV === 'development'){ %>
<%- include ('../partials/footer.ejs'); %>
<% } %>
<%- include ('../partials/navbarShrink.ejs'); %>
<%- include ('../partials/singlePageHeight.ejs'); %>
</body>
</html>

