<!DOCTYPE html>
<html>
<head>
<%- include ('../partials/header.ejs', {pageTitle: 'New Employee'}); %>
<script type="text/javascript" src="/libs/pikaday/pikaday.js"></script>
<link rel="stylesheet" href="/libs/pikaday/css/pikaday.css">
<link rel="stylesheet" href="/styles/pikadayOverwrites.css">

</head>
<body>
<%- include ('../partials/navbar.ejs'); %>
<%- include ('../partials/logo.ejs', {expired: 0}); %>
<%- include ('../partials/containerTop.ejs'); %>

<div class="row d-flex align-items-center m-0 p-0 mt-3 px-2">
    <h4 class="m-0 p-0">Register</h4>
</div>
<div class="formCard m-0 p-0 m-2">
<div class="row justify-content-center m-0 p-0">

<form id="regForm" action="/users/register" method="POST">
    <div class="row m-0 p-0 mt-3">
	<label class="col-2 col-form-label text-end" for="firstname">First Name</label>
	<div class="col-4 m-0 p-0">
	    <input class="form-control" type="text" 
		name="firstname" required autofocus placeholder="First Name" value="cookie">
	</div>
	<label class="col-2 col-form-label text-end" for="lastname">Last Name</label>
	<div class="col-4 m-0 p-0">
	    <input class="form-control" type="text" 
		name="lastname" required placeholder="Last Name" value="waylonis">
	</div>
    </div>
    <div class="row m-0 p-0 mt-3">
	<label class="col-2 col-form-label text-end" for="username">E-mail</label>
	<div class="col-4 m-0 p-0">
	    <input class="form-control" type="email" 
		name="username" required placeholder="email" value="cookie@digitalpaso.com">
	</div>
	<label class="col-2 col-form-label text-end" for="password">Password</label>
	<div class="col m-0 p-0">
	    <input class="form-control" type="password" name="password" required value="cookie">
	</div>
    </div>
    <div class="row m-0 p-0 mt-3">
	<input class="form-control d-none" type="text" 
	    name="title" placeholder="Civilian" value="CIVILIAN">
    </div>
</form>
<div class="d-flex justify-content-between align-items-center">
    <div class="col py-4">
	<%- include ('../partials/goBackButton.ejs'); %>
    </div><div class="col d-flex justify-content-end py-4">
	<button form="regForm" class="btn btn-outline-secondary right">Register</button>
    </div>
</div>

</div>
</div>

<%- include ('../partials/containerBottom.ejs'); %>
<%- include ('../partials/footer.ejs'); %>
<%- include ('../partials/singlePageHeight.ejs'); %>
<%- include ('../partials/navbarShrink.ejs'); %>
</body>
</html>
