<!DOCTYPE html>
<html>
<head>
<%- include ('../partials/header.ejs', {pageTitle:'About Dry Farm Ranch'}); %>
<%- include ('../partials/scrollPosition.ejs'); %>
<style type="text/css">

</style>
</head>
<body>
<%- include ('../partials/navbar.ejs') %>
<%- include ('../partials/containerTop.ejs'); %>

<div class="row m-0 align-items-stretch justify-content-around">
<div class="serviceCard col-12 col-md-5 col-lg-4 m-0 p-0 mx-1 my-4 pb-3">
    <div class="col-12 m-0 p-0">
	<div class="center equipment">
	    <%- include(`../SVG/dumptruck.ejs`, {}) %>
	</div>
    </div><div class="col-12 m-0 p-0">
	<a href=""><div class="center serviceTitle">Our Fleet</div></a>
    </div>
</div><div class="serviceCard col-12 col-md-5 col-lg-4 m-0 p-0 mx-1 my-4 pb-3">
    <div class="col-12 m-0 p-0">
	<div class="center equipment">
	    <%- include(`../SVG/hardhat.ejs`, {}) %>
	</div>
    </div><div class="col-12 m-0 p-0">
	<a href=""><div class="center serviceTitle">Our Team</div></a>
    </div>
</div>
</div>


<%- include ('../partials/contactUs.ejs'); %>

<%- include ('../partials/containerBottom.ejs'); %>
<%- include ('../partials/footer.ejs'); %>
<%- include ('../partials/singlePageHeight.ejs'); %>
<%- include ('../partials/navbarShrink.ejs'); %>
</body>
</html>
