<section class="flyer m-0 my-2 p-2">

<%- include ('./questions.ejs'); %>

<div class="titleTagline d-flex justify-content-center _justify-content-md-start">
    <span class="HRSS_ss05">OW</span>n A Piece Of&nbsp;</span>
    <span class="HRSS_ss04">WYO</span><span class="HRSS_ss05">M</span>ing’s Untamed 
    BE<span class="HRSS_ss04">AUty</span></div>
<hr />

<%- include ('../../partials/contactUs.ejs'); %>

<%- include ('./discover.ejs'); %>
<%- include ('./luxuryHomes.ejs'); %>
<%- include ('./luxuryResort.ejs'); %>
<%- include ('./locationAdvantage.ejs'); %>
<%- include ('./whyInvest.ejs'); %>
<%- include ('./nextSteps.ejs'); %>

</section> <!-- Next -->

<div class="brclear"></div>

</section>

